.header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 42;
    .container{
        .inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
            .left__content{
                .nav__menu{
                    position: fixed;
                    top: 80px;
                    width: 20%;
                    background: white;
                    left: -100%;
                    padding-bottom:25px;
                    z-index: 24;
                    transition: all .3s linear;
                    .nav__list{
                        .list__item{
                            padding: 15px 0;
                            padding-left: 15px;
                            border-top: 1px solid #eee;
                            color: #1D1D1F;
                            .item__link{
                                text-transform: uppercase;
                                font-weight: 700;
                                color: inherit;
                            }
                            &:hover{
                                border-left: 3px solid #0066CC;
                                color: #0066CC;
                            }
                        }
                    }
                }
                .inner__open{
                    transition: .3s linear;
                    .toggle__open{
                        display: flex;
                        align-items: center;
                        .toggle{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 35px;
                        }
                        .open__text{
                            text-transform: uppercase;
                            font-weight: 550;
                            margin-left: 15px;
                        }
                    }
                }
                .inner__close{
                    display: none;
                    transition: .3s linear;
                    .toggle__close{
                        display: flex;
                        align-items: center;
                        .toggle{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 35px;
                        }
                        .close__text{
                            text-transform: none;
                            font-weight: 550;
                            margin-left: 15px;
                        }
                    }
                }
            }
            .mid__content{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 180px;
            }
            .right__content{
                display: flex;
                align-items: center;
                .user__toggle{
                    display: flex;
                    align-items: center;
                    transition: .3s linear;
                    margin-right: 45px;
                    .toggle{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 35px;
                        font-weight: 400;
                        color: inherit;
                    }
                    .user__text{
                        margin-left: 15px;
                        color: inherit;
                        font-size: 18px;
                        line-height: 20px;
                        font-weight: 500;
                    }
                    &:hover{
                        color:  #0066CC;
                    }
                }
                .user__inner{
                    position: fixed;
                    top: -100%;
                    width: 270px;
                    padding-bottom: 15px;
                    padding-left: 5px;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    background-color: white;
                    transition: all .3s linear;
                    .login__toggle{
                        display: flex;
                        align-items: center;
                        padding: 15px 0;
                        border-top: 1px solid #eee;
                        transition: all .3s linear;
                        .toggle{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 24px;
                            margin-right: 15px;
                            color: inherit;
                        }
                        .user__text{
                            color: inherit;
                        }
                        &:hover{
                            color: #0066CC;
                            border-left: 3px solid #0066CC;
                        }

                    }
                    .record__toggle{
                        display: flex;
                        align-items: center;
                        padding: 15px 0;
                        border-top: 1px solid #eee;
                        transition: all .3s linear;
                        .toggle{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 24px;
                            margin-right: 15px;
                            color: inherit;
                        }
                        .record__text{
                            color: inherit;
                        }
                        &:hover{
                            color: #0066CC;
                            border-left: 3px solid #0066CC;
                        }
                    }
                }
                .leng__list{
                    .list__item{
                        width: 35px;
                        height: 35px;
                        img{
                            width: 100%;
                        }
                    }
                    #i-uz{
                        display: none;
                    }
                }

            }
        }
    }
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 80px;
    .content{
        width: 100%;
        height: 100%;
        padding-top: 30px;
        padding-bottom: 100px;
        transition: .3s linear;
        .content__prev{
            padding: 0 15px;
            border: none;
            background: white;
            font-size: 18px;
            line-height: 50px;
            font-weight: 550;
            border-radius: 10px;
            transition: all .3s linear;
            color: #0066CC;
            .bx-left-arrow{
                font-size: 14px;
                color: inherit;
            }
        }
        .inner{
            width: 100%;
            height: 100%;
            background-color: white;
            margin-top: 25px;
            border-radius: 10px;
            padding: 60px 0;
            .title{
                text-align: center;
                font-weight: 450;
                font-size: 50px;
                line-height: 60px;
            }
            .sub__title{
                text-align: center;
                font-weight: normal;
                font-size: 18px;
                line-height: 30px;
                color: #8194B2;
                margin-top: 6px;
            }
            .inner__person{
                margin-top: 48px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                .item__person{
                    width: 350px;
                    padding: 15px;
                    text-align: center;
                    margin-bottom: 25px;
                    .person{
                       border-radius: 10px;
                    }
                    .sub__person{
                        text-transform: uppercase;
                        line-height: 30px;
                        font-weight: 550;
                    }
                    .name__person{
                        font-size: 24px;
                        line-height: 30px;
                        font-weight: 700;
                        width: 50%;
                        margin: 0 auto;
                    }
                    .info__person{
                        font-size: 18px;
                        line-height: 24px;
                        width: 80%;
                        margin: 0 auto;
                        color: #8194B2;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    .footer{
        width: 100%;
        padding: 15px 0;
        background: #1D1D1F;
        text-align: center;
        color: #8E8E8F;
    }

}
